@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.img-box {
    overflow: hidden;
    transition: all .5s ease-in-out;
    scale: 1;
}
.img-box:hover img {
    scale: 1.1;
    transition: all .5s ease-in-out;
}
.banner{
    background-image: url(../image/banner-img.jpg);
}