@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.img-box {
    overflow: hidden;
    transition: all .5s ease-in-out;
    scale: 1;
}
.img-box:hover img {
    scale: 1.1;
    transition: all .5s ease-in-out;
}
header{transition: all .5s ease-in-out;}
header.small{position: fixed; top: 0px; left: 0px; background-color: #ffffff; z-index: 10; transition: all .5s ease-in-out;}
.resp-tab-content{border: none;}
.talking .img-bar .box{margin-left: -20px; transition: all .5s ease-in-out;}
.talking .img-bar:first-child .box{margin-left: 0px !important;}
.talking:hover .img-bar .box{margin-left: 0px; transition: all .5s ease-in-out;}
p{
    margin-bottom: 0px;
    text-align: justify !important;
}
.art-theater .slick-slide{
    margin: 0 5px;
}
#rtl-slider .slick-slide{
    transform: rotate(180deg);
}

li.resp-tab-item.hor_2 {
    font-size: 16px;
}
#rtl-slider{
    transform: rotate(180deg);
}
.img-box p{text-align: left !important;}
.slick-dots{display: none !important;}
.slick-arrow{display: none !important;}
.mobile-number{display: none;}



/* contact-us */
.banner-about-us{background-image: url(../image/contact-us-background.png);background-size: cover;background-position-y: -100%;position: relative;}
.banner-about-us:after{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background: linear-gradient(89.65deg, #00ACEF -0.71%, rgba(0, 172, 239, 0.1) 99.72%);content: '';}
input:focus-visible{outline:none !important;}
.banner-title a:hover{color: #ffffff;}
.contact-us-slider .slick-slide{margin: 0px 20px;}
.contact-us-slider .slick-prev.slick-arrow{display: block !important; position: absolute; top: -11%; left: 77% ;}
.contact-us-slider .slick-next.slick-arrow{display: block !important; position: absolute; top: -11%; left: 85% ;}
.slick-arrow:before{font-size: 34px !important; color: #0d6efd;}

/* terms & condition */
.terms a{
    color: #0d6efd !important;
}

/* responsive */
@media screen and (max-width:1919px) {}
@media screen and (max-width:1599px) {
    .container{width: 85% !important;}
    .logo{width: 15% !important;}
}
@media screen and (max-width:1365px) {
    .contact-slider{width: 33% !important;}
    .concerts .img-box{width: 23% !important;}
}
@media screen and (max-width:1280px) {
    .logo{width: 17% !important;}
    .logo a{font-size: 21px;}
    .left-nav ul li a,.right-nav ul li a{font-size: 14px !important;}
    .banner .title h2{font-size: 30px;}
    .banner .title p{font-size: 15px;}
    .banner input{font-size: 15px;}
    .banner h2.title{font-size: 15px;}
    .slider-box .btn a{padding: 14px;}
    .see-live-section .front-img{width: 67%;}
    .front-img .contanet .title-dis{ width: 70% !important;}
    .arced{flex-wrap: wrap;}
    .arced img,.arced .dis{width: 100%;}
    .concerts .img-box{width: 32% !important;}
    .family .box{display: none;}
    .family .catagory-box{width: 100%;}
    p{font-size: 12px !important;}
    footer .container .flex{width: 100%;}
    .footer-box ul li{margin-bottom: 8px;}
    .banner-about-us{background-position-y: 50%;}
    .contact-us-slider .img-box-1,.contact-us-slider .img-box-2,.contact-us-slider .img-box-3{display: none !important;}
    .contact-slider{width: 50% !important; position: static !important; margin: 0 auto !important;}
    .get-in-touch .left-box{padding-right: 10% !important;}
    .get-in-touch .right-box{width: 34% !important;}
    .contact-us-slider .inner-box{height: auto !important;}
}
@media screen and (max-width:1024px) {
    .navbar-box{position: relative;display: block !important;}
    .menu-box{display: block !important; position: absolute; top: 7px; right: 20px;}
    .menu-box span{height: 4px;}
    .nav-box{display: none !important;margin-top: 30px;}
    .mobile{overflow: hidden;height: 100vh;position: sticky;top: 0px;left: 0px;}
    header{position: sticky; top: 0px; left: 0px; background-color: #ffffff; z-index: 99;}
    .mobile .nav-box{display: block !important;}
    .mobile header{height: 100vh;}
    .nav-box ul li{display: block !important;}
    .nav-box ul{margin-bottom: 0px;}
    .nav-box ul li{margin: 0px 0px 10px 0px !important; }
    .mobile .menu-box span:first-child{transform: rotate(45deg);position: absolute;top: 9px;transition: all ease-in-out .5s;}
    .mobile .menu-box span:last-child{transform: rotate(135deg);transition: all ease-in-out .5s}
    .mobile .menu-box span:nth-child(2){opacity: 0;transition: all ease-in-out .5s}
    .menu-box span{transition: all ease-in-out .5s}
    .container{max-width: 690px !important; width: 100% !important;}
    .banner .ineer-box{flex-wrap: wrap; flex-direction: column-reverse;}
    .banner .ineer-box .left{width: 100%;}
    .banner .ineer-box .right{width: 70%; margin: 30px auto;}
    .front-img{width: 100% !important;}
    .slid-img{width: 100% !important; justify-content: flex-start !important;}
    h2.resp-accordion.hor_2{display: none;}
    ul.resp-tabs-list{display: block !important;}
    .gap-\[14px\]{gap: 12px;}  
    .concerts .img-box{width: 48% !important;}
    .cantent p{width: 85% !important;}
    .footer-line .pt-\[32px\]{padding-bottom: 40px !important;}
    .mobile-number{display: block; position: absolute; right: 90px; transform: translateY(-50%);top: 53%;}
    .mobile .mobile-number{display: none !important;}
    .banner-about-us .banner-title h2{font-size: 49px;}

    .get-in-touch .container{flex-direction: column !important;}
    .get-in-touch .left-box{width: 100% !important; padding-right: 0px !important; margin-bottom: 20px;}
    .get-in-touch .right-box{width: 50% !important; margin: 0 auto;}
    .contact-slider{width: 70% !important;}
    .get-in-touch .left-box .title h2{font-size: 33px !important;}
}   
@media screen and (max-width:750px) {
    .container{width: 90% !important;}
    .see-live-section{margin: 40px auto !important;}
    .top-selling{margin: 40px auto !important;}
    .top-selling .title-box h2{margin-bottom: 16px !important;}
    .art-theater{margin-top: 0px !important;}
    .ineer-box .left{padding-right: 0px;}
    footer .inner-box{flex-wrap: wrap;}
    .footer-box{width: 50%;margin-bottom: 15px;}
    .footer-box ul li a{font-size: 12px !important;}   
    .bottom-line{display: block !important;}
    .bottom-line .left a h2{font-size: 23px;}
    .bottom-line .right{text-align: center;}
    .get-in-touch .right-box{width: 52% !important;}
}
@media screen and (max-width:640px) {
    .banner .ineer-box .right{width: 100%;}
    .see-live-section .contanet{display: block;}
    .front-img .contanet .title-dis{width: 100% !important;}
    .see-live-section .contanet .btn a{display: block;margin-top: 10px;}
    .concerts .img-box{width: 100% !important;}
    .contact-us .inner-box{flex-wrap: wrap  !important; flex-direction: column-reverse;}
    .contact-us .inner-box .right{margin-bottom: 20px;}
    .cantent p{width: 100% !important;}
    .download-btn a{width: 50%;}
    .bottom-line .left p{display: block;text-align: center !important;margin:10px 0px;}
    .bottom-line .left{text-align: center;}
    .footer-box{width: 100%;}
    .title{display: block;}
    .banner-about-us .banner-title h2 {font-size: 29px;}
    .banner-about-us .container{padding: 60px 0px !important;}
    .terms h2{font-size: 26px;}
    .get-in-touch .right-box {width: 100% !important;}
    .contact-slider {width: 100% !important;}
}
@media screen and (max-width:420px) {
    .logo a {font-size: 16px;}
    .mobile-number a{font-size: 12px;}
    header{padding: 22px 10px !important;}
    .mobile-number{right: 80px;}
    .menu-box {top: 0px;}
}