@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.img-box {
    overflow: hidden;
    transition: all .5s ease-in-out;
    scale: 1;
}
.img-box:hover img {
    scale: 1.1;
    transition: all .5s ease-in-out;
}
.banner{
    /* background-image: url(../image/banner-img.jpg); */
}
header{transition: all .5s ease-in-out;}
header.small{position: sticky; top: 0px; left: 0px; background-color: #ffffff; z-index: 10; transition: all .5s ease-in-out;}
.resp-tab-content{border: none;}
.talking .img-bar .box{margin-left: -20px; transition: all .5s ease-in-out;}
.talking:hover .img-bar .box{margin-left: 0px; transition: all .5s ease-in-out;}
p{
    margin-bottom: 0px;
}
.art-theater .slick-slide{
    margin: 0 5px;
}
#rtl-slider .slick-slide{
    transform: rotate(180deg);
}

li.resp-tab-item.hor_2 {
    font-size: 16px;
}
#rtl-slider{
    transform: rotate(180deg);
}